<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <h1>Sistema para solicitar un prestamo al banco</h1>
        </div>
        <div class="row">
            <p>Este sistema fue desarrollado para poder enviar al banco una solicitud de prestamo de dinero. Si la
                solicitud es aprobada se le resta el dinero al capital del banco , si no ,
                la solicitud se listará en la tabla y desde ahí podrá ser aprobada </p>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>